	#hello-world{
		font-weight: bold;
		font-family: arial-black; 
		font-size: 48px;
		position: absolute;
		width: 500px;height:80px;
		top:50%;left:50%;
		margin-left: -250px;
		margin-top: -40px;
		text-shadow:3px 3px 3px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease; -o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;transition: all 0.3s ease;
	}

	#hello-world:hover{ 
		text-shadow:3px 3px 3px;
		/*Added_CSS3*/
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}


/* Here are some cute lil boxes that you can click */
	.creature a {
		width: 70px;height:70px;
		background-image:url(http://netdna.webdesignerdepot.com/uploads/2013/04/Ceric3.gif);
		background-repeat: no-repeat;
		background-position: center;
		display:block;
		position:relative;
		/*Added_CSS3*/
		transition:All 1s ease-in;
		-webkit-transition:All 1s ease-in;
		-moz-transition:All 1s ease-in;
		-o-transition:All 1s ease-in;
		transform: scale(1) skew(1deg) translate(10px);
		-webkit-transform: scale(1) skew(1deg) translate(10px);
		-moz-transform:  scale(1) skew(1deg) translate(10px);
		-o-transform:  scale(1) skew(1deg) translate(10px);
		-ms-transform:  scale(1) skew(1deg) translate(10px);
		}

	}

	.creature2 a {
		margin-left:80px;
	}
	.creature3 a {
		margin-left:160px;
	}

	.creature a:hover{
	border:2px dotted white;
	/*Added_CSS3 functionality*/
	transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-moz-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-o-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-ms-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
}

/*Added some weird boxes --> Click them!*/

	.weird a{
		width: 70px;height:70px;
		background-image:url(http://i.imgur.com/GH9SJ1A.gif);
		background-repeat: no-repeat;
		background-position: center;
		display:block;
		position:relative;
	}

	.weird2 a{
		margin-bottom:160px;
	}


	.weird3 a{
		margin-left:500px;
	}

		.weird4 a{
		margin-left:800px;
		margin-top:400px;
	}


	.weird a:hover{
	transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-moz-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-o-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	-ms-transform: rotate(360deg) scale(2) skew(1deg) translate(0px);
	}
	
	
	/*Just trollin'.*/
	body{
		/*This dude has some awesome over-the-top backgrounds, check 'em out!*/
		/*http://iamchriscollins.com/piece/tile-gifs*/
		background-image:url(http://netdna.webdesignerdepot.com/uploads/2013/04/Ceric1.gif);
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 200px;
	}